@model DataAccessLayer.Entities.Ogrenci

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Not Ekle", "AddNote", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Notlar</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
     @foreach(var nt in Model.Nots)
            {
                <div class="row">
                    <div class="col-md-8">
                        @nt.Text
                    </div>
                    <div class="col-md-4">
                        @Html.ActionLink("Not Edit", "", new { id = Model.Id }) |
                        @Html.ActionLink("Not Sil", "", new { id = Model.Id }) |
                    </div>
                </div>
            }
    </div>
</div>
